<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <title>Criar Sala - Rocket.Q</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- ViewPort-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS-->

    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/home.css">


    <!-- FONTS -->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>
    <div id="home" class="content">

        <header>
            <a href="/"">
            <img src="/images/logo.svg" alt="Logo Rocket.Q"/>
            </a>
        </header>

        <div id="bg">
            <div class="ball top"></div>
            <div class="ball bottom"></div>
        </div>


        <main>
            <div class="container">
                <!-- Será renderizado de acordo com a Rota escolhida -->
                <%- include(`parts/${page}`)  %>
            </div>
        </main>
    </div>
</body>

</html>