<div class="no-question">
    <img src="/images/no-question.svg" alt="Sem questões">
    <div class="description">
        <h2>Nenhuma pergunta por aqui...</h2>
        <p>Faça sua primeira pergunta e envie o <br>código destá sala para outras pessoas!</p>
    </div>
</div>